@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');


.work-sans {
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

/* shared style  */
.text-color {
  color: #3A3A3A;
}

.margin-width {
  max-width: 1140px;
  margin: 60px auto;
  gap: 133px;
}

.header,
.companics-name {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.btn {
  background-color: #E02C6D;
  color: white;
  border-radius: 41px;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  /* text-align: center; */
  gap: 8px;
  font-weight: bold;
}

/* main style  */

/* header style.............. */
.nav-link {
  text-decoration: none;
}

.nav {
  list-style: none;

}

.header-text {
  font-weight: bold;
  color: #3A3A3A;
  font-size: 24px;
}


.menu-navber {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 34px;
  /* text-align: center; */
}

/* main ......... */
.main-title {
  font-weight: bold;
  font-size: 2.5rem;
  color: #3A3A3A;
  margin-bottom: 16px;
}

.main-title-p {
  margin-bottom: 16px;
  font-weight: 600px;
}

.main-camera {
  background-image: url(../images/Circle\ design.svg);
  width: 100%;
  background-size: contain;
  background-repeat: no-repeat;
  /* background-position: center center; */
}

.companics-name {
  list-style: none;
  padding: 32px 62px;
  border: 2px solid rgba(192, 204, 218, 0.1);
}

/* card section.......... */
.card h4 {
  font-size: 1.8rem;
  font-weight: 600;
  text-align: center;
  padding-bottom: 30px;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  justify-items: center;
  gap: 30px;
}

.card-img {
  width: 100%;
}

.item h5 {
  font-weight: 500;
  font-size: 1.8rem;
  padding: 16px 0px 6px;
}

.p-tag {
  font-size: 24px;
}

.item {
  padding: 16px 15px;
  box-shadow: 0px 0px 40px 0px rgba(0, 0, 0, 0.15);
  border-radius: 5px;
}

.box-star i {
  color: orange;
}

.box-star {
  display: flex;
  gap: 3px;
}

/* .featured-section..... */
.featured {
  padding: 100px 0px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 90px;
}

.featured-text p {
  padding: 16px 0px;
  font-weight: bold;
}

/* footer-section........... */
.footer-section {
  text-align: center;
  background-color: #0C2C55;
  color: white;
  padding: 50px 0px;
}

.footer h3,
.footer p {
  margin-bottom: 10px;
}

@media screen and (max-width: 600px) {
  .header {
    flex-direction: column;
  }

  .margin-width {
    gap: 20px;
  }

  .main-left {
    text-align: center;
    padding: 0px 30px;
  }

  .header-btn {
    display: block;
    margin: 0 auto;
  }

  .main-camera {
    width: 80%;
    margin-top: 30px;
  }

  .companics-name {
    flex-wrap: wrap;
    gap: 20px;
  }
  .grid-container{
    grid-template-columns: 1fr;
  }
  .featured{
    flex-direction: column;
    text-align: center;
    padding: 0px 30px;
  }

}